h2{
    margin-top: 1rem;
}

.video{
    margin :5rem;
    /* margin-left: auto;
    margin-right: auto ; */
}
.description{
    background-color: #EEEEEE;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.col-md-8{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-md-4{
    margin-top: 1.9rem;
padding: 3rem;
}
.list-group{
    max-height: 30rem;
    margin-bottom: 10px;
}
.list-group-item:hover{
    background-color: #EEEEEE;
}
.row{
    /* background-color: #EEEEEE; */
    background-color: white;
    margin-bottom: 0;
}
.text{
    z-index: +1;
    position: absolute;
}
.textnew{
    z-index: -1;
    position: absolute;
}

.form{
    margin-bottom: 3rem;
    margin-top: 1rem;
}

/* rating */
.star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    width: 100px;
    height: 20px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }
  .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }
  .star-rating input:hover + i,
  .star-rating input:checked + i {
    opacity: 1;
  }
  .star-rating i ~ i {
    width: 40%;
  }
  .star-rating i ~ i ~ i {
    width: 60%;
  }
  .star-rating i ~ i ~ i ~ i {
    width: 80%;
  }
  .star-rating i ~ i ~ i ~ i ~ i {
    width: 100%;
  }
  ::after,
  ::before {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
  }

  .list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: black;
}

#title{
  padding:5%;
  font-weight: bold;
  
}

#author{
  font-weight: lighter;
  font-size: smaller;
  font-style: italic;
}

.rating-star {
  height: 10px;
}

.rating-div {
  display: inline-block;
}

#deleteButton{
  background-color: transparent;
  border: 0;
  color: blue;
}

#deleteButton:hover{
  color: red;
}
  
/* rating end */