<!-- {{video|json}} -->

<!-- add validation here -->
<!-- courseId should be dropdown of mentor's previous courses -->
<div class="container col-md-5" style="border:solid 1px;">
<div class="column">
<form #f1="ngForm" action="" class="form-group">
    <div class="form-group">
        <!-- two way binding here man -->
        <div class="row">
            <div class="col-md-4"><label for="courseId">CourseId</label></div>
            <div class="col-md-8"><input #courseId="ngModel" class="form-control" name="courseId" [(ngModel)]="video.courseId"/></div>
        </div>
    </div>

    <div class="form-group">
        <!-- two way binding here man -->
        <div class="row">
            <div class="col-md-4"><label for="url">Link of the Video</label></div>
            <div class="col-md-8"><input #courseId="ngModel" class="form-control" name="url" [(ngModel)]="video.url"/></div>
        </div>  
    </div>

    <div class="form-group">
        <!-- two way binding here man -->
        <div class="row">
            <div class="col-md-4"><label for="duration">Duration of the Course(hrs)</label></div>
            <div class="col-md-8"><input #courseId="ngModel" class="form-control" name="duration" [(ngModel)]="video.duration"/></div>
        </div>
    </div>

    <div class="form-group">
        <!-- two way binding here man -->
        <div class="row">
            <div class="col-md-4"><label for="title">Title</label></div>
            <div class="col-md-8"> <input #courseId="ngModel" class="form-control" name="title" [(ngModel)]="video.title"/></div>
        </div>    
    </div>

    <div>
        <button (click)="addVideo()" class="btn btn-primary">Add Video</button>
    </div>

</form>

</div>
</div>