 *{
    margin: 0;
    padding: 0;
}

button{
    margin: 5px;
    padding: 5px;
}

.cart-div {
    margin: 20px;
}

.bdy{
    margin: 10px;
}
/*
.container2 {
    border: 2px solid #efefef;
    width: 50vw;
    margin: auto;
    text-align: center;
}

.flex-container {
    display: flex;
}

.total {
    font-size: larger;
    font-weight: bolder;
}

.Card {
    display: inline-block;
    margin-left: 20px;
}

.card-text {
    margin: 0;
}

.side-card {
    margin-right: 100px;
    width: 40vw;
}

.cart-div {
    margin: 20px;
}

.my-cart {
    font-weight: bolder;
    font-size: 60px;
}

.shop-now {
    background-color: transparent;
    color: black;
    border: 2px solid rgb(0, 179, 255);
}

.rating {
    font-weight: bolder;
    background-color: rgb(234, 234, 136);
    padding: 5px;
    border-radius: 5px;

}

.shop-now:hover {
    color: #fff;
    background-color: rgb(0, 179, 255);
}

.cart-img {
    height: 300px;
    width: 300px;
}

.detail-card {
    width: 60vw;
}

.empty-cart {
    width: 200px;
    background-color: transparent;
    color: black;
    height: 60px;
    border: 1px solid red;
}

.empty-cart:hover {
    color: #fff;
    background-color: red;
}

.shop-more {
    height: 60px;
    width: 200px;
    background-color: transparent;
    color: black;
    border: 2px solid rgb(0, 179, 255);
}

.shop-more:hover {
    color: #fff;
    background-color: rgb(0, 179, 255);
}

.price {
    color: green;
    font-weight: bolder;
}

.btn-container {
    padding: 10px;
}

.btn {
    margin: 5px;
}

.card-body{
    margin-left: 20px;
} */

.total {
    font-size: larger;
    font-weight: bolder;
}

.cart-img {
    height: 300px;
    width: 300px;
}

.container {
    display: inline-block;
    width: 550px;
    margin: 50px;
}

.btn-container {
    width: 300px;
    float: right;
    margin-top: 48px;
    margin-right: 130px;
}

.enroll1{
    margin-left: 20px;
}

.enroll:hover{
    background-color: green;
}

.btns{
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: black;
}

.btn-container1 {
    width: 330px;
    float: right;
    margin-top: 5px;
    margin-right: 105px;

}
.course-img{
    width: 250px;
    height: 200px;
}
.card{
    padding: 10px;
}
button{
    margin: auto;
    margin-bottom: 10px;
}

.my-cart {
    font-weight: bolder;
    font-size: 60px;
}

.shop-now {
    background-color: transparent;
    color: black;
    border: 2px solid rgb(0, 179, 255);
}

.rating {
    font-weight: bolder;
    background-color: rgb(234, 234, 136);
    padding: 5px;
    border-radius: 5px;

}

.shop-now:hover {
    color: #fff;
    background-color: rgb(0, 179, 255);
}

.cart-img {
    height: 300px;
    width: 300px;
}

.detail-card {
    width: 60vw;
}

.empty-cart {
    width: 200px;
    background-color: transparent;
    color: black;
    height: 60px;
    border: 1px solid red;
}

.empty-cart:hover {
    color: #fff;
    background-color: red;
}

.delete:hover {
    color: #fff;
    background-color: red;
}

.shop-more {
    height: 60px;
    width: 200px;
    background-color: transparent;
    color: black;
    border: 2px solid rgb(0, 179, 255);
}

.shop-more:hover {
    color: #fff;
    background-color: rgb(0, 179, 255);
}

.price {
    color: green;
    font-weight: bolder;
}

.container2 {
    border: 2px solid #efefef;
    width: 50vw;
    margin: auto;
    text-align: center;
}