<nav class="navbar navbar-expand-lg bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png"  id="image" alt="" style="height: auto; width: 50px; " /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="aboutUs">About Us</a>
        </li>

        <div *ngIf="mentor">
          <li class="nav-item">
            <a class="nav-link" href="add-video">Add-Video</a>
          </li>
        </div>
        <div *ngIf="mentor">

          <li class="nav-item">
            <a class="nav-link" href="add-course">Add-Course</a>
          </li>
        </div>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <button style="background-color: transparent; color: white; border: 1px solid transparent;" routerLink="cart">
          <div class="badge bg-danger" style="font-size: 10px;">{{totalItem}}</div>
          <img src="assets/images/cart.png" class="cart-img" alt="">
        </button>
      </form>

      <!-- ngIf here when the user is logged in -->
      <button *ngIf="logInFlag" class="btn btn-outline-primary" style="margin-left: auto;">
        <a class="nav-link" href="login">Login</a>
      </button>
      <button *ngIf="logInFlag" class="btn btn-outline-success" style="margin: 1%;">
        <a class="nav-link" href="sign-up">SignUp</a>
      </button>
      <button *ngIf="!logInFlag" class="btn btn-outline-success" style="margin: 1%;" (click)="logout()">
        <a class="nav-link" href="">LogOut</a>
      </button>
    </div>
  </div>
</nav>