<div class="card mb-3 box" style="margin:auto;margin-top: 2%;" *ngFor="let c of courses_list">
    <div class="row g-0">
        <div class="col-md-2 img-container">
            <img src="{{c.thumbnailUrl}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6 detail-container">
            <div class="card-body">
                <a class="card-title">
                    <h5><b>{{c.title}}</b></h5>
                </a>
                <p>{{c.description}}</p>
                <p class="card-text"><small class="text-muted">{{c.author}}</small></p>
                <span class="rating">{{c.rating}} star</span>
                <!-- <div *ngFor="let i of rating_arr" (load)="show({{c.courseId}})">
                    <img src="assets/images/star2.png" alt="NO-Image">
                </div> -->
                <p class="card-text"><small class="text-muted">{{c.duration}} Total hours * {{c.noOfLectures}} Lectures</small></p>
                <p>Price <b class="price">₹{{c.price}}</b></p>
            </div>
        </div>
        <div class="col-md-2 btn-container">
            <div><button class="btn btn-primary add-to-cart" (click)="addToCart(c)">Add to cart</button></div>
            <!-- <div><button class="btn btn-primary more-details" >More Details</button></div>   -->
            <a href="course-page/{{c.courseId}}"><Button class="btn btn-outline-primary"
                style="margin-left: 5px;">Course Page</Button></a>                              
        </div>
    </div>
</div>