* {
    margin: 0px;
    padding: 0;
}

.box {
    /* border: 2px solid aqua; */
    margin: 10px;
    width: 70vw;
    /* padding: 10px; */
}

img {
    width: 230px;
    height: 200px;
    margin: 10px;
}

.img-container {
    margin: 10px;
    /* padding: 5px; */
    width: 250px;
    height: 220px;
    /* border: 2px solid black; */
}

.detail-container {
    /* border: 2px solid red; */
    /* margin: 10px; */
    /* padding: 10px; */
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.price {
    color: green;
}

.rating {
    background-color: rgb(234, 234, 136);
    padding: 5px;
    border-radius: 5px;
}

button{
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 140px;
    background-color: transparent;
    color: black;
}

.btn-container{
    /* border: 1px solid red; */
    margin: auto;
}

.add-to-cart{
    border: 2px solid rgb(0, 179, 255);
}

.add-to-cart:hover{
    background-color: rgb(0, 179, 255);
}

.enroll{
    border: 2px solid rgb(134, 25, 174);
}

.enroll:hover{
    background-color: rgb(134, 25, 174);
}

.more-details{
    border: 2px solid green;
}

.more-details:hover{
    background-color: green;
}