@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.navbar{
    position:fixed ;
    z-index: 9;
    width: 100%;
    top:0;
    ;
    
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    font-family: 'Bree Serif', serif;

}
.nav-item{
    padding-right: 2rem;
    
}
.nav-link{
    color: black;
    font-family: 'Share Tech Mono', monospace;

}
.nav-link:hover{
    color: grey;
    
}
.bg-lightt{
    background-color:whitesmoke
    /* background-image: url('gradient1.svg'); */
    
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
/* #fixedButton{
    position: fixed;
    bottom: 0px;
    right: 0px; 
    
} */

.cart-img{
    height: 25px;
    width: 25px;
    margin-top: 0.6rem;
    /* margin-left: 1rem; */
    padding: 0.1rem;
}
