
<div class="row row-cols-1 row-cols-md-3 g-1">
    <div class="col">
      <div class="card h-100">
        <img src="./assets/images/clock.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">New Content Added Regulary</h5>
          <p class="card-text">We're constantly adding courses on topics like JavaScript, HTML5 & CSS3, PHP & MySQL, Node.js, React, Vue, Backbone, Ruby on Rails, computer science fundamentals and more.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/images/teaching.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Engaging teaching Style</h5>
          <p class="card-text">From beginner to advanced, you can expect breadth and depth in our content. No boring lectures! We use a conversational style, like a friend showing you new skills.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="./assets/images/build.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Learn By Building a Portfolio</h5>
            <p class="card-text">Many of our training videos are project-based - all of which will be added to your portfolio so you can impress employers or your clients with real-world apps.</p>
          </div>
        </div>
      </div>
    </div>