<!-- <app-email-service></app-email-service> -->
<!-- <app-profile></app-profile> -->
<!-- <app-footer></app-footer> -->
<!-- <app-login></app-login> -->
<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<!-- <app-base></app-base> -->
<!-- <app-all-categories></app-all-categories> -->
<!-- <app-header></app-header>
<router-outlet></router-outlet> -->
<!-- <app-footer></app-footer>    -->
<!-- <app-slider2></app-slider2> -->
<!-- <router-outlet></router-outlet> -->


<app-navbargoodlooking></app-navbargoodlooking>
<!-- <app-course-page></app-course-page> -->
<!-- <app-home-page></app-home-page> -->
<router-outlet></router-outlet>
<!-- <app-mentor-home></app-mentor-home> -->
<app-footer></app-footer>
<!-- <app-sign-up></app-sign-up> -->


