<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle">About Us</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets/images/user.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Dhruv Kanthaliya</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Web-Developer
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Megan Denise Fox[1] (born May 16, 1986) is an American actress. She made her acting debut in the family film Holiday in the Sun (2001), which was followed by numerous supporting roles in film and television, such as the teen musical comedy Confessions of a Teenage Drama Queen (2004), as well as a starring role in the ABC sitcom Hope & Faith (2004–2006). Her breakout role was as Mikaela Banes in the blockbuster action film Transformers (2007), which she reprised in its sequel Transformers: Revenge of the Fallen (2009).` </div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Asp.Net</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>Angular</li>
					<li class="tag__item play blue">
						<a href="#"><i class="fas fa-play mr-2"></i>Bootstrap</a>
					</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>MongoDB</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>React</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>NodeJs</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets/images/user2.jpeg" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Aman Srivastav</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Beautiful, sexy, glamourous, hot are not the words to describe him, but he is so much less .</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Asp.Net</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>Angular</li>
					<li class="tag__item play red">
						<a href="#"><i class="fas fa-play mr-2"></i>Bootstrap</a>
					</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>MongoDB</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>React</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>NodeJs</li>
				</ul>
			</div>
		</article>
		<article class="postcard dark green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets/images/user3.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Muhammed Faseel</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Good boy with bad tendencies. Never missed a prayer other than the prayers that he missed. Following the rules and also breaking.</div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Asp.Net</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>Angular</li>
					<li class="tag__item play green">
						<a href="#"><i class="fas fa-play mr-2"></i>Bootstrap</a>
					</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>MongoDB</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>React</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>NodeJs</li>



				</ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="assets/images/user4.jpeg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Asutosh Patnaik</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"></div>
				<ul class="postcard__tagbox">
					<li class="tag__item"><i class="fas fa-tag mr-2"></i>Asp.Net</li>
					<li class="tag__item"><i class="fas fa-clock mr-2"></i>Angular</li>
					<li class="tag__item play yellow">
						<a href="#"><i class="fas fa-play mr-2"></i>Bootstrap</a>
					</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>MongoDB</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>React</li>
                    <li class="tag__item"><i class="fas fa-clock mr-2"></i>NodeJs</li>
				</ul>
			</div>
		</article>
	</div>
</section>

