<!-- <form *ngIf="formGrp" [formGroup]="formGrp" (ngSubmit)="loginSubmit(formGrp.value)">
    <p class="" error-message></p>
    <div>Username:<input formControlName="userName" name="userName" type="text" class="username" /></div>
    <div>Email:<input formControlName="email" name="email" type="text" class="email" /></div>
    <div>Password:<input formControlName="password" name="password" type="text" class="password" /></div>
    <div>Role:<input formControlName="roleId" name="roleId" type="text" class="roleId" /></div>
    <div><input type="submit" value="Submit" /></div>


    Password:<input formControlName="password" name="password" type="text" class="password"/>
    Role:<input formControlName="roleId" name="roleId" type="text" class="roleId"/>
  
    <input type="submit" value="Submit"  />
</form>
 -->
<!-- {user|json} -->
<div class="container-main clearfix">
    
        <div class="login-container " >
            <form *ngIf="formGrp" [formGroup]="formGrp" (ngSubmit)="loginSubmit(formGrp.value)">
            <div class="loginBox">
                <div class="container container-radio">
                    <div class="radio-buttons row">
                        <div class="col-md">
                            <input type="radio" class="btn-check btn1" formControlName="roleId" name="roleId" id="option1"
                                value="1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option1">User</label>
                        </div>
                        <div class="col-md">
                            <input type="radio" class="btn-check" formControlName="roleId" name="roleId" id="option2" value="2"
                                autocomplete="off">
                            <label class="btn btn-outline-primary" for="option2">Mentor</label>
                        </div>
                    </div>
                </div>
                <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="70px" width="70px" />
    
                <!-- <h3>Sign in here</h3> -->
                <div class="inputBox"></div>
                <p class="" error-message></p>
                <div><input formControlName="userName" hidden name="userName" type="text" class="username"  /></div>
                <div>Email:<input formControlName="email" name="email" type="text" class="email" /></div>
                <div>Password:<input formControlName="password" name="password" type="password" class="password" /></div>
                <!-- <div>Role:<input formControlName="roleId" name="roleId" type="text" class="roleId" /></div> -->
                <div><input class="login-text" type="submit" value="Log In" /></div>
    
                <!-- <a href="#">Forget Password<br /> </a> -->
                <div class="text-center" id="sign-up">
                    <!-- <button class="btn btn-secondary btn-sm" style="color:white;background-color:#59238F;">Sign-Up</button> -->
                    <a href="sign-up"  style="font-style:italic;color:rgb(42, 37, 37);font-weight:400">Don't have an account? Sign Up</a>
                </div>
            </div>
        </form>
        </div>
   
</div>

