<div class="container-main">
  <h2><b>All Categories</b></h2>
<div class="grid-container">
  <div *ngFor="let c of categoriesLst">
  <button class="grid-item"  (click)="showCourses(c.categoryId)">
    <img src="{{c.imageUrl}}" alt="" class="catimg">


    <!-- <div class="card">
      <img class="card-img-top" src={{c.imageUrl}} alt="Card image cap">
      <div class="card-body">
        <b class="card-text">{{c.categoryName}}</b>
      </div>
    </div> -->
  </button>
  <p style="text-align: center; margin-right: 2rem;margin-top: 0;">{{c.categoryName}}</p>
</div>

</div>
</div>


