/* CARD CSS */
/* .product {
  padding: 20px 0;
} */

/* .slider-wrap {
  position: relative;
  overflow-x:scroll;
  height: 350px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider-wrap::-webkit-scrollbar{
  display: none;
} */

/* .slider-main {
  position: absolute;
  width: 200%;
}

.item {
  display: inline-block;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 12px;
} */
/* 
.title-hyperlink {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
} */
/* 
.card {
  height: 250px;
  margin: 10px;
}

.image-box {
  height: 150px;
  border: 1px solid black;
  width: 230px;
  background-color: white;
  margin: auto;
} */

/* .card .image-box img {
  width: 100%;
  height: 100%;
}

.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
} */

/* .card img {
  height: 40px;
  width: 40px;
}

.profile-details {
  background-color: white;
  height: 70px;
  width: 200px;
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
} */

/* .name {
  font-size: 12px;
  font-weight: lighter;
  margin: 0;
}

.pricex{
  font-size: 20px;
  margin: 0;
  color: green;
} */
/* 
.prev {
  position: absolute;
  left: 40px;
  top: 40%;
  transform: translate(-50%, -50%);
}

.next {
  position: absolute;
  right: -30px;
  top: 40%;
  transform: translate(-50%, -50%);
} */

/* .btnx {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid black;
  background-color: transparent;
  font-size: xx-large;
  color: black;
}

.btnx:hover{
  background-color: #b7b6b6;
}

.name-job {
  padding: 10px;
  text-align: left;
} */

/* @media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
} */

/* ************************************************************************* */



.rating {
  background-color: rgb(234, 234, 136);
  padding: 5px;
  border-radius: 5px;
}

.title-hyperlink {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.price {
  font-size: 20px;

}

.price>b {
  color: green;
  font-size: 15px;
}

.course-duration {
  font-size: 15px;
  font-weight: lighter;
}

.course-image {
  width: 250px;
  height: 220px;
  margin: auto;
}

.modal-dialog {
  margin-right: 550px;
  /* border: 2px solid  red; */
  /* margin: auto; */
}

.image-container {
  float: left;
  display: flex;
  flex-direction: column;
  width: 25vw;
  /* border: 2px solid red; */
}

.course-details {
  background-color: #fff;
  width: 380px;
  float: right;
  /* border: 2px solid yellow; */
}

.btn-container {
  margin-top: 30px;
  /* margin-left: 70px; */
  text-align: center;
  /* border: 2px solid red; */
}

.modal-dialog {
  margin-right: 420px;
  /* margin: auto; */
}

.modal-content {
  width: 56vw;
  margin-right: 200px;
}

.btns {
  width: 140px;
  margin: 4px;
  height: 40px;
  border-radius: 15px;
}

.bts {
  display: inline;
}

.cart-button {
  background-color: transparent;
  color: black;
  border: 2px solid rgb(0, 179, 255);
}

.cart-button:hover {
  color: #fff;
  background-color: rgb(0, 179, 255);
  ;
}

.more-detail {
  background-color: transparent;
  color: black;
  border: 2px solid green;
}

.more-detail:hover {
  color: #fff;
  background-color: green;
}

.rating-star {
  height: 20px;
}

.rating-div {
  display: inline-block;
}

.card-img-top {
  /* height: 180px; */
  height: auto;
}

.container {
  margin-bottom: 5rem;
}

h2 {
  margin: 2rem
}

.card {
  height: 250px;
}
