<div class="container">
  <h2><b>Top Courses</b></h2>

  <div class=" content-section implementation " style="border: 2px solid transparent; height: 300px;">
    <div class="card" style="height:300px">
  <div class=" content-section implementation carousel-demo">
    <div class="card" >
      <p-carousel [value]="courses" styleClass="custom-carousel" [numVisible]="5" [numScroll]="6" [circular]="true"
        [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
        <ng-template let-course pTemplate="item">
          <div class="item card">
            <img src="{{course.thumbnailUrl}} " class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column" >
              <h5 class="card-title"><b>{{course.title}}</b></h5>
              <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openModal(course.courseId)">Details</button> -->
              <button type="button" class="mt-auto btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="openModal(course.courseId)">Details</button>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>

</div>

<!-- MODAL BOX -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><a href="" class="title-hyperlink">{{cor.title}}</a></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row">
        <div class="modal-body col-md-4">
          <div class="image-container">
            <img src="{{cor.thumbnailUrl}}" alt="NO-Image" class="course-image">
            <div class="btn-container">
              <div class="bts">
                <Button class="btn btn-primary" (click)="addToCart(cor)" data-bs-dismiss="modal">Add to cart</Button>
              </div>
              <div class="bts">
                <a href="course-page/{{cor.courseId}}"><Button class="btn btn-outline-primary"
                    style="margin-left: 5px;">Course Page</Button></a>
              </div>
            </div>
          </div>
          <div class="course-details">
            <div>
              <a href="" class="title-hyperlink">{{cor.title}}</a>
              <div class="extra-details">
                <!-- <span class="rating">{{cor.rating}} star</span> -->
                <div *ngFor="let i of rating_arr" class="rating-div">
                  <img src="assets/images/star2.png" alt="" class="rating-star">
                </div>
                <div><span class="price">Price <b>₹{{cor.price}}</b></span></div>
              </div>
              <span class="course-duration">Total {{cor.duration}} hours</span>
              <div>
                <br>
                
                {{cor.description}}
              </div>
              <ul>
                <li>Create their own Python Programs</li>
                <li>Parse the Web and Create their own Games</li>
                <li>Become an experienced Python Programmer</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>