<div class="container mt-5 mb-5 text-center">
    <b><h2>What our Customers Say</h2></b>
    <div class="row g-2">
        <div class="col-md-4">
            <div class="card p-3 text-center px-4">
                
                <div class="user-image">
                    
            <img src="./assets/images/somethin.jpeg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Mahatma Gandhi</h5>
                    <span>Political Leader</span>
                    <p>I don't know where I would be if it wasn't for this website. Because of this website I got the leadership skills to free India. Every citizen of the country is grateful to this wonderful website. Kudos to the developers.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
        </div>
        
        <div class="col-md-4">
            
            <div class="card p-3 text-center px-4">
                
                <div class="user-image">
                    
            <img src=".\assets\images\einstein.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Albert Einstein</h5>
                    <span>Theoretical Physicist</span>
                    <p>I was just a kid when I started to learn physics from this website. Great Content and Great Instructors. I owe my nobel prize to the developers of this website. May the force be with them.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
            
        </div>
        
        <div class="col-md-4">
            
            <div class="card p-3 text-center px-4">
                
                <div class="user-image">
                    
            <img src=".\assets\images\Ramnath.jpg" class="rounded-circle" width="80"
                    >
                    
                </div>
                
                <div class="user-content">
                    
                    <h5 class="mb-0">Ramnath Nishad</h5>
                    <span>Corporate Trainer</span>
                    <p>I was a noob, a absolute noob when I joined a C# masterclass by Dhruv Kanthaliya here on this website. Now after all this success I am and ever will be grateful to Dhruv and this website for all the skills and the money that I have. PS: This is better than StackRoute.</p>
                    
                </div>
                
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </div>
    
</div>